/* style.css */

/* WHEN CHANGING COLORS, CLEAR CASHE IN BROWSER CTRL+SHIFT+R (WINDOWS) */
body {
    background-color: #181a20!important;
}
.title-heading {
    font-size: 5rem;
    font-family: "Ubuntu", serif;
    font-weight: 700;
    font-style: normal;
    color:#38B261;
}
.trade-heading{
    /*font-size: 2rem;*/
    font-family: "Ubuntu", serif;
    font-weight: 700;
    font-style: normal;
    color:#38B261;
}
.form-control:focus {
    border-color: #28a745;
    box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
}

.table {
    color: #d4d4d4;

}
.buy-container{
    margin: 5px;
    background-color: #0B0E11;
    border-radius: 15px;
}

.table th, .table td {
    vertical-align: middle;
}
.table th{
    border-top: none!important;
}

h1, h2 {
    color: #FFFFFF;
}

#chart {
    margin: 20px auto;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.8);
    border-radius: 20px;
}
.errorImg-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

#Ticker {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 30px;
    transition: color 0.5s ease-in-out; /* Płynne przejście koloru */
}

.red {
    color: red;
}
.gray {
    color: gray;
}
.green {
    color: green;
}
