<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>TradingSignal</title>
    <link rel="icon" type="image/x-icon" href="../img/favicon.ico">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Hahmlet:wght@100..900&family=Montserrat:ital,wght@0,800;1,800&family=Ubuntu:wght@700&display=swap" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #181a20;">
    <a style="padding-top:5px; padding-bottom:5px;" href="/home"><img src="/img/logo-navbar.png" width="65" height="50" alt="TradingSignalLogo"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0" >
            <li class="nav-item">
                <a class="nav-link" href="/home">Home <span class="sr-only"></span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/trade">Trade<span class="sr-only"></span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/transactions">Transactions</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link active" href="/balance">Balance</a>
            </li>
            <button type="button" class="btn btn-outline-success mx-2" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@getbootstrap">Add Balance</button>
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content bg-dark text-custom-green">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Crypto adding</h1>
                            <button type="button" class="btn-close" style="filter: invert(1) brightness(2);" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="mb-3">
                                    <input class="form-control bg-dark text-custom-green" list="datalistAdd" id="datalistAddInput" placeholder="Select crypto">
                                    <datalist id="datalistAdd">
                                    </datalist>

                                </div>
                                <div class="mb-3">
                                    <input type="number" class="form-control bg-dark text-custom-green" id="amountBuy" placeholder="Amount">
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer d-flex justify-content-center">
                            <button type="button" id="addBalanceButtonConfirm" class="btn btn-outline-success w-100">Confirm</button>
                        </div>
                    </div>
                </div>
            </div>

        </ul>
        <form class="form-inline my-2 my-lg-0" onsubmit="crypto_search(event)">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">@</span>
                </div>
                <input type="text" id="cryptoInput" class="form-control" placeholder="Crypto" aria-label="Crypto" aria-describedby="basic-addon1">
            </div>
        </form>
        <a href="/logout" th:if="${userId}"><button type="button" class="ml-2 btn btn-outline-success" >Logout</button></a>
    </div>
</nav>
<div class="mx-2 my-5" >
    <h2 class="trade-heading pb-3">Your balance: <span id="networth-display">Loading...</span></h2>
    <div class="container">
        <div class="row" id="card-container">
            <!-- Cards will be added here -->
        </div>
    </div>
</div>
<div class="toast-container position-fixed bottom-0 end-0 p-3">
    <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <img src="/img/logo-navbar.png" style="height: 15px;" alt="...">
            <strong class="me-auto">TradingSignal</strong>
            <small>Now</small>
            <button type="button" class="btn-close" style="filter: invert(1) brightness(2);" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            Placeholder
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
<script src="/js/script.js"></script>
<script>
    document.getElementById("addBalanceButtonConfirm").addEventListener("click", manageAddBalance);

    async function displayNetworth() {
        try {
            const networth = await getNetworth();
            const networthDisplay = document.getElementById("networth-display");

            if (!isNaN(networth)) {
                networthDisplay.textContent = `${networth.toFixed(2)} USD`;
            } else {
                networthDisplay.textContent = "Error retrieving balance";
            }
        } catch (error) {
            console.error("Failed to fetch networth:", error.message);
            document.getElementById("networth-display").textContent = "Error retrieving balance";
        }
    }
    window.onload = setBalance
</script>
</body>
</html>
