<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>TradingSignal</title>
    <link rel="icon" type="image/x-icon" href="../img/favicon.ico">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Hahmlet:wght@100..900&family=Montserrat:ital,wght@0,800;1,800&family=Ubuntu:wght@700&display=swap" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #181a20;">
    <a style="padding-top:5px; padding-bottom:5px;" href="/home"><img src="/img/logo-navbar.png" width="65" height="50" alt="TradingSignalLogo"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0" >
            <li class="nav-item">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/trade">Trade<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/transactions">Transactions</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/balance">Balance</a>
            </li>

        </ul>
        <form class="form-inline my-2 my-lg-0">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">@</span>
                </div>
                <input type="text" class="form-control" placeholder="Crypto" aria-label="Crypto" aria-describedby="basic-addon1">
            </div>
        </form>
    </div>

</nav>
<div class="mx-2 my-5" >
    <h2 class="trade-heading">Start trading right now</h2>

    <table class="table table-striped" style = "color:white;">
        <thead>
        <tr class="tr-title">
            <th>Name</th>
            <th>Symbol</th>
            <th>Description</th>
            <!-- ADDITIONAL INFO CAN BE ADDED -->
            <th></th>
        </tr>
        </thead>
        <tbody>
        <!-- JS -->
        </tbody>
    </table>
</div>


<script src="/js/script.js"></script>
<script>
    const myList = document.querySelector("tbody")
    window.onload = async function (){
        const cryptoList = await getCrypto()
        for (var crypto of cryptoList) {
            var myItem = document.createElement('tr')
            let button
            if (crypto.symbol === "USDT") {
                button = `<td><a href="/chart/USDTPLN"><button class="btn btn-outline-success btn-sm btn-block">Buy/sell</button></a></td>`
            } else {
                button = `<td><a href="/chart/${crypto['symbol']}USDT"><button class="btn btn-outline-success btn-sm btn-block">Buy/sell</button></a></td>`
            }
            var columns = ['name','symbol','description']
            for (var column of columns){
                var col = document.createElement('td')
                if (column === 'name'){
                    var img = document.createElement('img')
                    img.setAttribute('src', crypto.logoUrl)
                    img.setAttribute('class','crypto-image')
                    var a = document.createElement('a')
                    a.innerHTML = crypto[column].toUpperCase()
                    col.appendChild(img)
                    col.appendChild(a)
                }else{
                    col.innerHTML = crypto[column]
                }
                myItem.appendChild(col)
            }
            myItem.innerHTML+=button
            myList.appendChild(myItem)
        }
    }
</script>
</body>
</html>
