<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>TradingSignal</title>
    <link rel="icon" type="image/x-icon" href="../img/favicon.ico">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Hahmlet:wght@100..900&family=Montserrat:ital,wght@0,800;1,800&family=Ubuntu:wght@700&display=swap" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #181a20;">
    <a style="padding-top:5px; padding-bottom:5px;" href="/home"><img src="/img/logo-navbar.png" width="65" height="50" alt="TradingSignalLogo"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0" >
            <li class="nav-item">
                <a class="nav-link" href="/home">Home <span class="sr-only"></span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/trade">Trade<span class="sr-only"></span></a>
            </li>
            <li class="nav-item  active">
                <a class="nav-link" href="/transactions">Transactions</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/balance">Balance</a>
            </li>

        </ul>
        <form class="form-inline my-2 my-lg-0" onsubmit="crypto_search(event)">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">@</span>
                </div>
                <input type="text" id="cryptoInput" class="form-control" placeholder="Crypto" aria-label="Crypto" aria-describedby="basic-addon1">
            </div>
        </form>
    </div>

</nav>
<div class="mx-2 my-5" >
    <h2 class="trade-heading">Check out yours transactions</h2>

    <table class="table table-striped" style = "color:white;">
        <thead>
        <tr class="tr-title">
            <th>Title</th>
            <th>Description</th>
            <th>Crypto Sold</th>
            <th>Amount Sold</th>
            <th>Crypto Bought</th>
            <th>Amount Bought</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

<script src="/js/script.js"></script>
<script>
    window.onload = setTransactions();

</script>
</body>
</html>
